<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<style>
		body
		{
			font-size: 16px;
			font-family: 'Poppins', serif;
			width: 100%;
			height: 100%;
			margin: 0;
			color: #333;
		}
		
		img
		{
			width: 100%;
		}
		
		ul
		{
			margin: 0;
			padding: 0;
		}
		
		.margin-tb-30
		{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		
		.intro-section
		{
			padding-top: 200px;
			position: relative;
			background-size: cover; 
			z-index: 1;
			background-image: url({{ bckgrd_url }});
		}

		.intro
		{
			padding: 0 20px;
			margin-top: 100px;
			text-align: center;
			background: #fff;
		}

		.intro .profile-img
		{
			height: 200px;
			width: 200px;
			border-radius: 100px;
			margin: 0 auto; 
			overflow: hidden;
			position: relative;
			top: -100px;
			margin-bottom: -70px;
		}

		.intro .information > li
		{
			display: block;
			margin: 0 0;
		}

		.intro .social-icons > li > a
		{
			height: 35px;
			line-height: 35px;
			width: 35px;
			border-radius: 20px; 
			overflow: hidden;
			z-index: 1;
			position: relative;
			margin: 0 5px 5px;
			background: #887392;
			color: #fff;
		}
		
		.intro-section:before
		{
			content:'';
			z-index: -1;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0; 
			right: 0;
			background: rgba(0,0,0, .2);
		}
	
		.intro-section:after
		{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 150px;
			z-index: -1;
			background: #fff;
		}
		
	</style>
</head>
<body>
	<div class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="{{ img_url }}" alt=""></div>
						<h1>Hi! I am {{ name }}</h1>
						<article>I am {{ age }} years old</article>
						<h7> & </h7>
						<article>{{ desc }}</article>
						<ul class="information margin-tb-30">
							<li><b>UNIVERSITY : </b>{{ univ }}</li>
							<li><b>BORN : </b>{{ birth }}</li>
							<li><b>NPM : </b>{{ npm }}</li>
							<li><b>HOBBY : </b>{{ hobby }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
